/* Style of the backgroun body */
body {
   background-image: url(../assets/images/galaxia.png);
   background-size: contain;
}

/* Style title */
#title {
    padding: 2%;
}

/* style of the image modal */
#imageChar {
    width: 30vh;
    height: 30vh;
}

/* Style of the movies cards */
.styleFilms {
    margin-top: 5%;
    margin-left: 5%;
    display: inline-block;
    
}

/* style of the modal */
.styleModal{
    background-color:black;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}